/* styles.css */

/* Set the entire page background to black */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black !important;
  color: white; /* Text color to white for visibility on black background */
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevents scrollbars if content exceeds window size */
}

/* Attempt to cover the bottom part */
body::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px; /* Adjust the height to match the unwanted element's height */
  background-color: black !important;
  z-index: 2; /* Ensure this is above the iframe */
}

/* Additional style to hide any potential white space or borders from Google Sheets */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black !important;
  z-index: 0;
}

/* Ensure the overlay matches the background */
#top-bar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 60px !important; /* Adjust to match or exceed the Google Sheets top bar */
  background-color: black !important;
  z-index: 3 !important; 
  border: none !important;
  pointer-events: none !important;
}

/* Add these styles for smoother transitions */
#sheetFrame, #sheetFrame2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: black;
  z-index: 4 !important;
  opacity: 1; /* Start with full opacity, then control visibility through JS */
  transition: opacity 0.5s ease;
}
#sheetFrame2 {
  display: none;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

#loadingOverlay.displayed {
  opacity: 1;
  pointer-events: auto;
}

#loadingLogo {
  max-width: 500px; /* Adjust based on your logo size */
  max-height: 500px; /* Adjust based on your logo size */
  opacity: 0.2; /* Dim the logo by setting opacity to 50% */
  transition: opacity 0.5s ease; /* Add a delay for a nicer effect */
}

#loadingOverlay.displayed #loadingLogo {
  opacity: 0.2; /* Keep the dim appearance when overlay is displayed */
}

.switcherOuter {
  position: fixed !important;
  display: none !important;
  visibility: hidden !important;
  z-index: 3 !important; 
  background-color: black !important;
  border: none !important;
  pointer-events: none !important;
}

.ritz.grid-container {
    background: #000000 !important;
}
